<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>메뉴 상세 정보</h2>

    <div>
        <p>메뉴번호: <span th:text="${menu.menuCode}"></span></p>
        <p>메뉴이름: <span th:text="${menu.menuName}"></span></p>
        <p>메뉴가격: <span th:text="${menu.menuPrice}"></span></p>
        <p>카테고리코드: <span th:text="${menu.categoryCode}"></span></p>
        <p>판매상태: <span th:text="${menu.orderableStatus}"></span></p>
    </div>

    <div th:if="${img != null}">
        <img th:src="${img}" width="480" height="360">
        <p th:text="${singleFileDescription}"></p>
    </div>
    <div th:else>
        <div th:each="img : ${imgs}">
            <img th:src="${img}" width="480" height="360">
        </div>
        <p th:text="${multiFilesDescription}"></p>

        <br><br>
    </div>

    <!-- 수정 버튼(thymeleaf 사용) -->
    <a th:href="@{/menu/edit/{code}(code=${menu.menuCode})}">수정하기(th)</a>

    <!-- 수정 버튼(JavaScript 사용) -->
    <button id="editButton">수정하기(js)</button>

    <!-- 삭제 버튼 -->
    <form th:action="@{/menu/delete/{code}(code=${menu.menuCode})}" method="post">
        <button type="submit">삭제하기</button>
    </form>

    <!-- 목록으로 돌아가는 버튼 -->
    <button onclick="location.href='/menu/list'">목록으로</button><br>

    <script>
        /* 설명. JavaScript를 사용해 수정 버튼 동작시키기 */
        document.getElementById('editButton').addEventListener('click', function() {
            window.location.href = '/menu/edit/' + [[${menu.menuCode}]];
        });
    </script>
</body>
</html>